# 𐑒𐑹 𐑛𐑦𐑐𐑧𐑯𐑛𐑩𐑯𐑕𐑦𐑟 𐑓𐑹 𐑒𐑳𐑥𐑐𐑦𐑤 𐑓𐑮𐑱𐑥𐑢𐑻𐑒
lief
capstone
keystone-engine
rich
tqdm
pyyaml

# 𐑛𐑧𐑝𐑧𐑤𐑩𐑐𐑥𐑩𐑯𐑑 𐑛𐑦𐑐𐑧𐑯𐑛𐑩𐑯𐑕𐑦𐑟 (𐑦𐑯𐑕𐑑𐑷𐑤 𐑢𐑦𐑞 --extra dev)
numpy  # 𐑯𐑰𐑛𐑦𐑛 𐑓𐑹 𐑧𐑯𐑑𐑮𐑩𐑐𐑦 𐑩𐑯𐑨𐑤𐑦𐑟𐑦𐑕 𐑐𐑤𐑳𐑜𐑦𐑯
pytest  # 𐑑𐑧𐑕𐑑 𐑮𐑳𐑯𐑼
pytest-cov  # 𐑒𐑳𐑝𐑼𐑦𐑡 𐑮𐑦𐑐𐑹𐑑𐑦𐑙
black  # 𐑒𐑴𐑛 𐑓𐑹𐑥𐑨𐑑𐑦𐑙
flake8  # 𐑤𐑦𐑯𐑑𐑦𐑙